In [1]:
print("안녕하세요")

안녕하세요

In [2]:
print("강신석입니다")
# print("안녕하세요")  # 주석 : ctrl + /

강신석입니다

#  왼쪽 코드 번호 입력 : 위 메뉴 바에서 View -> Toggle Line Numbers
# 상단 키보드 클릭하면 주피터에서 사용할 수 있는 단축키, 기능들 확인 가능
# 키보드 왼쪽에는 Code, Markdown, 등 셀 타입을 지정할 수 있음 -> 기본적으로 Python 명령어 입력시에는 Code로 설정해서 사용!

In [3]:
# 변수 = 값 또는 데이터 
# 파이썬 에서는 변수 = 값 또는 데이터 형태로 인식하게 됨
x = 1 
print(x)

1

In [4]:
y = 1
y = 3
print(y)
# 가장 마지막에 입력된 변수만 인식함

3

In [5]:
# int : 정수, float : 실수
x = 15
print(type(x))

y = 3.14
print(type(y))

<class 'int'>
<class 'float'>

In [6]:
a = 9
b = 5

print(a + b)
print(a - b)
print(a * b)
print(a / b)

14
4
45
1.8

In [7]:
print(a // b) # // 연산 의미 : 나눈 몫을 의미!
print(a % b) # % 연산 의미 : 나누고 난 나머지!

1
4

In [8]:
# str : 문자

s1 = "문자" # 문자데이터는 반드시 큰 따옴표 혹은 작은 따옴표로 표기해야 한다!
print(type(s1))

<class 'str'>

In [9]:
s2 = "가나다라마바사"
s2

'가나다라마바사'

In [10]:
s3 = "산"
s4 = "토끼"
print(s3 + s4)

산토끼

In [11]:
# list : 리스트, 순서대로 나열된 집합
# 리스트명 = [원소1, 원소2, ... , 원소n]

li = [1, 2, 3, 4, 5]
li

[1, 2, 3, 4, 5]

In [12]:
# 리스트에서는 순서대로 나열된 집합으로, 순서를 이용해 개별 원소를 선택할 수 있다
# 왼쪽에서부터 0번 부터 시작, 오른쪽에서부터 -1 부터 시작함
# 하나의 원소에 대해 접근하는 걸 '인덱싱' 이라고 함

li = ['가', '나', '다', '라', '마']
li[3]

'라'

In [13]:
print(li[-1])

마

In [14]:
# 라 글자 출력
print(li[3])
print(li[-2])

라
라

In [15]:
# 하나의 원소가 아니라 특정 구간을 가져오는 방식을 '슬라이싱'이라고 함
# 슬라이싱 : 리스트이름[ 시작인덱스번호 : 마지막인덱스번호 ]

# 나, 다, 라 선택

li[1:4] # 종료되는 위치, 종료 위치의 데이터는 포함하지 않음
print(li[1:4])
print(li[-4:4])
print(li[-4:-1])
print(li[1:-1])
# 총 4가지 방식이 존재!

['나', '다', '라']
['나', '다', '라']
['나', '다', '라']
['나', '다', '라']

In [16]:
print(li[-4:]) # 끝나는 위치를 비우면 끝까지 
print(li[:4]) # 시작 위치를 비우면 처음부터

['나', '다', '라', '마']
['가', '나', '다', '라']

In [17]:
print(len(li)) # len : 괄호, 그룹에 들어간 원소의 개수(길이)를 출력

5

In [18]:
len("문자열")
# 문자열이라는 스트링에서는 총 3개의 원소를 가지고 있다는 것 확인 가능! 
# 각각의 글자, 문자가 하나의 원소로 되어 있음

3

In [19]:
# 리스트 + 리스트 
li1 = ['사과','감','바나나','파인애플']
li2 = [1, 3, 5, 7, 9]

print (li1 + li2)
print (li2 + li1) # 더하는 리스트 순서대로 나옴

li_total = li1 + li2
print (li_total)

['사과', '감', '바나나', '파인애플', 1, 3, 5, 7, 9]
[1, 3, 5, 7, 9, '사과', '감', '바나나', '파인애플']
['사과', '감', '바나나', '파인애플', 1, 3, 5, 7, 9]

In [20]:
li3 = ['원숭이', '코끼리', '바나나']
li4 = [2,4,6,8,10]

li3.append(li4)
print(li3)

['원숭이', '코끼리', '바나나', [2, 4, 6, 8, 10]]

In [21]:
print(len(li3))
# li4 의 원소들 집합이 li3 에서의 하나의 원소로 추가된 것!

4

In [22]:
# 딕셔너리 : 이름과 값을 함께 가지는 그룹형태!
# 딕셔너리는 중괄호 기호 사용! 
# 이름 : 값 형태로 데이터 나열! 데이터는 콤마로 구분함

data = {
    '일자' : '2020-01-01',
    '이름' : '홍길동',
    '전화번호' : '010-0000-0080'
}
data

{'일자': '2020-01-01', '이름': '홍길동', '전화번호': '010-0000-0080'}

In [23]:
data.keys()
# key 값 = 명칭 들 만 확인하려면 data.keys() 로 확인 가능!

dict_keys(['일자', '이름', '전화번호'])

In [24]:
data.values()
# data의 (key에 매칭되는 실제 값들만 보기)

dict_values(['2020-01-01', '홍길동', '010-0000-0080'])

In [25]:
data.items()
# key와 values를 같이 확인, items 모두 확인

dict_items([('일자', '2020-01-01'), ('이름', '홍길동'), ('전화번호', '010-0000-0080')])

In [26]:
data['이름']

'홍길동'

In [30]:
#새로운 값 추가
data['나이'] = 20
data

{'일자': '2020-01-01', '이름': '홍길동', '전화번호': '010-0000-0080', '나이': 20}