In [1]:
fruits = ['바나나', '사과', '딸기', '배', '감']

In [2]:
for fruit in fruits:
    print(fruit)

바나나
사과
딸기
배
감

In [3]:
print(fruit)

감

In [4]:
for fruit in fruits:
    print(fruit)
    print(1)

바나나
1
사과
1
딸기
1
배
1
감
1

In [5]:
for fruit in fruits:
    print(fruit)
print(1)

바나나
사과
딸기
배
감
1

In [8]:
n = 20

if n < 1 : 
    print("1이상의 자연수를 입력해주세요")
elif n % 2 == 1 :
    print("홀수입니다.")
else :
    print("짝수입니다.")

짝수입니다.

In [9]:
n = 20

if n < 1 : 
    print("1이상의 자연수를 입력해주세요")
elif n % 2 == 1 :
    print("홀수입니다.")
else :
    print("짝수입니다.")

짝수입니다.

In [10]:
shop_A = ['사과', '배', '파인애플']
shop_B = ['딸기', '포도', '사과', '감']

In [11]:
if len(shop_A) > len(shop_B) : 
    print ("A가게가 B가게보다 더 과일수가 많다.")
elif len(shop_A) < len(shop_B) : 
    print ('B가게가 A가게보다 더 과일수가 많다')
else :
    print('A,B 가게의 과일 수가 같다.')

B가게가 A가게보다 더 과일수가 많다

In [24]:
'딸기' in shop_A

False

In [12]:
'딸기' in shop_B

True

In [13]:
if "딸기" in shop_A : 
    print ("딸기 있음")
else : 
    print("딸기 없음")

딸기 없음

In [14]:
if "포도" not in shop_B : 
    print("포도 없음")
else : 
    print("포도 있음")

포도 있음

In [15]:
A = "태극기"
B = "태극기가 바람에 펄럭입니다."

In [16]:
if A == B : 
    print('일치')
elif A in B :
    print('A가 B에 포함')
else : 
    print('A와 B는 불일치')

A가 B에 포함

In [17]:
sentence = '안녕하세요 그린님 만나서 반갑습니다.'
print(sentence)

안녕하세요 그린님 만나서 반갑습니다.

In [18]:
name = '그린'

sentence = f'안녕하세요 {name}님 만나서 반갑습니다.'
print(sentence)

안녕하세요 그린님 만나서 반갑습니다.

In [1]:
month = "12월"
day = "25일"

sentence = "오늘은 {} {} 입니다.".format(month, day)
print(sentence)

오늘은 12월 25일 입니다.

In [2]:
month = "12월"
day = "25일"

sentence = f"오늘은 {month} {day} 입니다."
print(sentence)

오늘은 12월 25일 입니다.

In [8]:
raw = '\n\t 태극기가 바람에 펄럭입니다. \n하늘 높이 하늘 높이 펄럭입니다.'
print(raw)

	 태극기가 바람에 펄럭입니다.
하늘 높이 하늘 높이 펄럭입니다.

In [9]:
raw_strip = raw.strip()
print(raw_strip)

태극기가 바람에 펄럭입니다.
하늘 높이 하늘 높이 펄럭입니다.

In [10]:
print(raw_strip)

태극기가 바람에 펄럭입니다.
하늘 높이 하늘 높이 펄럭입니다.

In [11]:
raw_edit = raw_strip.replace("태극기", "국기")
print(raw_edit)

국기가 바람에 펄럭입니다.
하늘 높이 하늘 높이 펄럭입니다.

In [12]:
data = "미국/중국/일본/러시아/베트남/태국"

data.split('/')

['미국', '중국', '일본', '러시아', '베트남', '태국']

In [13]:
def gob(a, b):
    result = a * b
    return result

In [16]:
gob(1, 3)

3

In [17]:
gob(4, 5)

20

In [22]:
a = 2
for a in [1,2,3,4,5,6,7,8,9]:
    
    for b in [1,2,3,4,5,6,7,8,9]:
        구구단 = f"{a} x {b} = {gob(a,b)}"
        print(구구단)
    print('********')

1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
********
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
********
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
********
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
********
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
********
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
********
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
********
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
********
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
********