In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.DataFrame()
df

Empty DataFrame
Columns: []
Index: []

In [3]:
df["약품명"] = ["소화제", "감기약", "비타민", "digestive", "Omega3", "오메가3", "vitamin", "Vitamin"]
df

         약품명
0        소화제
1        감기약
2        비타민
3  digestive
4     Omega3
5       오메가3
6    vitamin
7    Vitamin

In [4]:
df['가격'] = 3500
df

         약품명    가격
0        소화제  3500
1        감기약  3500
2        비타민  3500
3  digestive  3500
4     Omega3  3500
5       오메가3  3500
6    vitamin  3500
7    Vitamin  3500

In [5]:
df['가격']

0    3500
1    3500
2    3500
3    3500
4    3500
5    3500
6    3500
7    3500
Name: 가격, dtype: int64

In [7]:
type(df['가격'])

pandas.core.series.Series

In [8]:
type(df)

pandas.core.frame.DataFrame

In [9]:
df['가격'].tolist()

[3500, 3500, 3500, 3500, 3500, 3500, 3500, 3500]

In [10]:
# nan = not a number

df['가격'] = [3500, 3200, 4000, 3200, 3700, np.nan, 2000, 1000]
df

         약품명      가격
0        소화제  3500.0
1        감기약  3200.0
2        비타민  4000.0
3  digestive  3200.0
4     Omega3  3700.0
5       오메가3     NaN
6    vitamin  2000.0
7    Vitamin  1000.0

In [11]:
type(np.nan)

float

In [14]:
type(3200)

int

In [15]:
type(3200.0)

float

In [16]:
df['지역'] = '서울'
df

         약품명      가격  지역
0        소화제  3500.0  서울
1        감기약  3200.0  서울
2        비타민  4000.0  서울
3  digestive  3200.0  서울
4     Omega3  3700.0  서울
5       오메가3     NaN  서울
6    vitamin  2000.0  서울
7    Vitamin  1000.0  서울

In [21]:
df['종류'] = '일반의약품'
df['종류2'] = '일반의약품'
df

         약품명      가격  지역     종류    종류2
0        소화제  3500.0  서울  일반의약품  일반의약품
1        감기약  3200.0  서울  일반의약품  일반의약품
2        비타민  4000.0  서울  일반의약품  일반의약품
3  digestive  3200.0  서울  일반의약품  일반의약품
4     Omega3  3700.0  서울  일반의약품  일반의약품
5       오메가3     NaN  서울  일반의약품  일반의약품
6    vitamin  2000.0  서울  일반의약품  일반의약품
7    Vitamin  1000.0  서울  일반의약품  일반의약품

In [22]:
del df['종류2']
df

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

In [23]:
df['종류3'] = '일반의약품'
df

         약품명      가격  지역     종류    종류3
0        소화제  3500.0  서울  일반의약품  일반의약품
1        감기약  3200.0  서울  일반의약품  일반의약품
2        비타민  4000.0  서울  일반의약품  일반의약품
3  digestive  3200.0  서울  일반의약품  일반의약품
4     Omega3  3700.0  서울  일반의약품  일반의약품
5       오메가3     NaN  서울  일반의약품  일반의약품
6    vitamin  2000.0  서울  일반의약품  일반의약품
7    Vitamin  1000.0  서울  일반의약품  일반의약품

In [28]:
df = df.drop('종류3', axis = 1)
df

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

In [29]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   약품명     8 non-null      object
 1   가격      7 non-null      float64
 2   지역      8 non-null      object
 3   종류      8 non-null      object
dtypes: float64(1), object(3)
memory usage: 384.0+ bytes

In [30]:
df.shape

(8, 4)

In [31]:
df.dtypes

약품명     object
가격     float64
지역      object
종류      object
dtype: object

In [33]:
df.describe()

                가격
count     7.000000
mean   2942.857143
std    1064.357620
min    1000.000000
25%    2600.000000
50%    3200.000000
75%    3600.000000
max    4000.000000

In [34]:
# 문자 형태의 데이터 기술통계 값만 요약해서 보기! 

df.describe(include='object')

        약품명  지역     종류
count     8   8      8
unique    8   1      1
top     소화제  서울  일반의약품
freq      1   8      8

In [35]:
df

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

In [37]:
df.loc[[0]]

   약품명      가격  지역     종류
0  소화제  3500.0  서울  일반의약품

In [39]:
df.loc[ : 3]

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품

In [41]:
df.loc[0, '약품명']

'소화제'

In [42]:
df.loc[2, '가격']

4000.0

In [44]:
df.loc[[0, 3], ['약품명', '가격']]

         약품명      가격
0        소화제  3500.0
3  digestive  3200.0

In [48]:
df

         약품명      가격  지역     종류
0        소화제  3500.0  서울  일반의약품
1        감기약  3200.0  서울  일반의약품
2        비타민  4000.0  서울  일반의약품
3  digestive  3200.0  서울  일반의약품
4     Omega3  3700.0  서울  일반의약품
5       오메가3     NaN  서울  일반의약품
6    vitamin  2000.0  서울  일반의약품
7    Vitamin  1000.0  서울  일반의약품

In [47]:
df.loc[[2, 4], ['약품명', '가격']]

      약품명      가격
2     비타민  4000.0
4  Omega3  3700.0

In [49]:
df['약품명'].str.contains('vita')

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7    False
Name: 약품명, dtype: bool

In [51]:
df['약품명'].str.contains('오메가')

0    False
1    False
2    False
3    False
4    False
5     True
6    False
7    False
Name: 약품명, dtype: bool

In [52]:
df['약품명_소문자'] = df['약품명'].str.lower()
df

         약품명      가격  지역     종류    약품명_소문자
0        소화제  3500.0  서울  일반의약품        소화제
1        감기약  3200.0  서울  일반의약품        감기약
2        비타민  4000.0  서울  일반의약품        비타민
3  digestive  3200.0  서울  일반의약품  digestive
4     Omega3  3700.0  서울  일반의약품     omega3
5       오메가3     NaN  서울  일반의약품       오메가3
6    vitamin  2000.0  서울  일반의약품    vitamin
7    Vitamin  1000.0  서울  일반의약품    vitamin

# 분리형 인덱싱

In [53]:
df['약품명_소문자'].str.contains('vita')

0    False
1    False
2    False
3    False
4    False
5    False
6     True
7     True
Name: 약품명_소문자, dtype: bool

In [54]:
df['약품명_소문자'].str.contains('vita|비타')

# | : or 을 의미!

0    False
1    False
2     True
3    False
4    False
5    False
6     True
7     True
Name: 약품명_소문자, dtype: bool

In [55]:
df['약품명_소문자'].str.contains('vita&비타')

# & : and 를 의미!

0    False
1    False
2    False
3    False
4    False
5    False
6    False
7    False
Name: 약품명_소문자, dtype: bool

In [56]:
df[df['가격'] > 3500]

      약품명      가격  지역     종류 약품명_소문자
2     비타민  4000.0  서울  일반의약품     비타민
4  Omega3  3700.0  서울  일반의약품  omega3

In [57]:
df[df['가격'] <= 3500]

         약품명      가격  지역     종류    약품명_소문자
0        소화제  3500.0  서울  일반의약품        소화제
1        감기약  3200.0  서울  일반의약품        감기약
3  digestive  3200.0  서울  일반의약품  digestive
6    vitamin  2000.0  서울  일반의약품    vitamin
7    Vitamin  1000.0  서울  일반의약품    vitamin

In [59]:
df.sort_values('가격', ascending = False)

         약품명      가격  지역     종류    약품명_소문자
2        비타민  4000.0  서울  일반의약품        비타민
4     Omega3  3700.0  서울  일반의약품     omega3
0        소화제  3500.0  서울  일반의약품        소화제
1        감기약  3200.0  서울  일반의약품        감기약
3  digestive  3200.0  서울  일반의약품  digestive
6    vitamin  2000.0  서울  일반의약품    vitamin
7    Vitamin  1000.0  서울  일반의약품    vitamin
5       오메가3     NaN  서울  일반의약품       오메가3

In [64]:
df.to_csv("판다스연습1.csv", index = False, encoding = 'cp949')

In [66]:
pd.read_csv('판다스연습1.csv', encoding = 'cp949')

         약품명      가격  지역     종류    약품명_소문자
0        소화제  3500.0  서울  일반의약품        소화제
1        감기약  3200.0  서울  일반의약품        감기약
2        비타민  4000.0  서울  일반의약품        비타민
3  digestive  3200.0  서울  일반의약품  digestive
4     Omega3  3700.0  서울  일반의약품     omega3
5       오메가3     NaN  서울  일반의약품       오메가3
6    vitamin  2000.0  서울  일반의약품    vitamin
7    Vitamin  1000.0  서울  일반의약품    vitamin